#root {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.card {
    border-radius: 1em;
    margin: 1em;
    width: 15em;
    height: 20em;
    color: black;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    transition: transform .5s;

    display: none;
}

.card.show {
    display: block
}

.card .face {
    overflow-wrap: anywhere;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 2px #767676;
    border-radius: 10px;
}

.card .front {
    background-color: #b6b6e6;
    transform: rotateY(0deg);
    overflow: hidden;
}

.card .back {
    transform: rotateY(-180deg);
    width: 100%;
    height: 100%;
    background-color: #b6b6e6;
    border-radius: 10px;
    overflow-y: auto;
}

/* width */
.card ::-webkit-scrollbar {
    width: 15px;
}

  /* Track */
.card ::-webkit-scrollbar-track {
    background: transparent;
}

  /* Handle */
.card ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff81;
}

.card .image {
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: white;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.8s;
    transition: height .7s;
    transition: .5s height;
}

.card .buttons {
    width: 80%;
    transition: all 0.5s;
    height: 0px;

    display: flex;
    flex-direction: row;
    margin: 0.5em 10%;
}

.card .buttons button, .card .buttons input {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.card .buttons input {
    width: 50%;
}

.card .buttons button.amount {
    background-color: white;
    color: black;
    width: max-content;
}

.card button.amount:hover {
    color: white;
    background-color: black;
}

.card button.buy {
    background-color: green;
    color: white;
}

.card button.buy:hover {
    color: green;
    background-color: white;
}

.card .image img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    opacity: 0.7;
    width: 90%;
    height: 70%;

    object-fit: contain;

    transition: all 0.8s;
}

.card .front:hover > .image {
    background-color: white;
    height: 9em;
}

.card .front:hover > .buttons {
    height: 2em;
}

.card .front:hover > .image img {
    opacity: 1;
    height: 90%;
}

.card .top {
    height: 4em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card .top * {
    display: inline;
}

.card .data {
    padding: 1em 2em;
    text-align: left;
    overflow: auto;
    max-width: 100%;
}

.card .data p {
    margin: 0.5em 0px;
}

.card .data p.title {
    height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .data .row {
    display: flex;
    justify-content: space-between;
}

.card .data span img {
    object-fit: contain;
    height: 1em;
    width: 1em;
}

@media (hover: none),(-moz-touch-enabled: 1), (pointer:coarse) {
    .card .image {
        background-color: white;
        height: 9em !important;
    }

    .buttons {
        height: 2em !important;
    }

    .card .image img {
        opacity: 1;
        height: 90% !important;
    }
}